<style>
  .altar-grid {
    table-layout: fixed;
    width: 800px;
    height: 512px;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: rgb(240,84,91);
    border-radius: 50%;
    display: inline-block;
  }

  table {
    border-spacing: 0;
}
table td:first-child, table td:not(:first-child):not(:last-child){
    border-right:1px solid black;
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
table tr:first-child td, table tr:not(:last-child) td {
    border-bottom:1px solid black;
    border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

table thead tr:first-child  td:first-child {
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
}

table thead tr:first-child  td:last-child {
    -webkit-border-top-right-radius:2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
}
table tbody tr:last-child  td:first-child {
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}

table tbody tr:last-child  td:last-child {
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
}
</style>

<div class="grid grid-rows-3 place-content-center p-10">
  <div class="row-span-3 flex flex-row justify-between pb-12">
      <div>
        <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-400 font-bold uppercase text-xs"
          >Character</label
        >
        <input
          type="text"
          (keyup)="updateBiasChar($event)"
          class="
            form-control
            block
            px-3
            py-1.5
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-gray-400 focus:outline-none
            text-xs
            w-20
            h-10
            placeholder-gray-300
          "
          id="exampleFormControlInput1"
          placeholder="Character"
        />
      </div>

      <div class="relative flex items-center justify-end scale-50 w-20 h-20 overflow-hidden rounded-full ring-gray-400 ring-2">
        
        <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]">
          <div
            [ngStyle]="{ height: 1 }"
            [ngClass]="{
              'absolute w-1/2 left-10 top-7 origin-left flex justify-end': true,
              'rotate-0': i === 0,
              'rotate-45': i === 1,
              'rotate-90': i === 2,
              'rotate-[135deg]': i === 3,
              'rotate-180': i === 4,
              'rotate-[225deg]': i === 5,
              'rotate-[270deg]': i === 6,
              'rotate-[315deg]': i === 7
            }">
            <div class="w-1/4 h-full text-gray-400 rounded-full">-</div>
          </div>
        </div>
      
        <div class="absolute left-10 w-6 h-1 bg-gray-400 rounded-full origin-left -rotate-90 group-hover:rotate-[215deg] duration-1000 ease-in-out" ></div>
      
        <div class="absolute w-9 h-1 origin-left rotate-[180deg] group-hover:rotate-[340deg] duration-1000 ease-in-out">
          <div class="w-2/3 h-full bg-gray-400 rounded-full" ></div>
        </div>
      
        <div class="absolute flex justify-center flex-1 w-full">
          <div class="w-2 h-2 bg-gray-400 rounded-md"></div>
        </div>
    </div>

      <div class="grid place-content-center">
        <button (click)="getGridAndCode()" class="bg-gray-400 uppercase hover:bg-gray-500 text-white font-bold py-2 px-4 rounded h-10">
          Generate 2D Grid
        </button>
      </div>
  </div>
  <table class="border border-gray-500 text-center altar-grid border-spacing-0 border-separate rounded-sm">
    <tbody>
      <tr *ngFor="let row of grid" class=" border-gray-500">
        <td *ngFor="let cell of row" class="border-gray-500 text-sm text-gray-900 font-light">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
  <div class="grid place-content-center pt-7">
    <div class="uppercase font-bold text-gray-600 flex justify-center items-center pb-2"><span class="dot"></span><span class="ml-1">Live</span></div>
    <div class="uppercase text-gray-600 border border-gray-500 rounded-sm h-14 w-60 grid grid-flow-col text-center content-center">
      <div class="">Your code: <b>{{ code }}</b></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
